
<%- include('./partials/header')  %> 

<%- include('./partials/navbar')  %>
<div class="blog-content-container">
    <div class="form-container">
        <form action="/update/<%= post.id %>" method="post">
            <label for="title">Title</label>
            <input type="text" name="title" id="title" value="<%= post.title %>" required>
                
            <label for="content">Content</label>
            <textarea name="content" id="content" required><%= post.content %></textarea>
                
            <input type="submit" value="Update">
            <a href="/" class="gotohome">Back to Home</a>
        </form>
    </div>
    
</div>
   
<%- include('./partials/footer') %>    
