<!DOCTYPE html>
<html lang="en">
<%- include('./partials/header') %>
<body>
<%- include('./partials/navbar')  %>
    <h1>This is the Blog Space</h1>
    <div class="blog-space-container">
        <div class="post-container">
            <% if (post.length > 0) { %>
                <% post.forEach(function(postItem) { %>
            <div class="container">
                <h2><%= postItem.title %></h2>
                <p><%= postItem.content %></p><br>
                <a href="/edit/<%= postItem.id %>"><button class="edit">Edit</button></a>
                <form action="/delete/<%= postItem.id %>" method="post" style="display:inline;">
                    <button class="delete" type="submit">Delete</button>
                </form>
            </div><br>
                    <% }); %>
                <% } else { %>
                    <p>No blog posts found.</p>
                <% } %>
                    
        </div>
    </div>
</div>
<%- include('./partials/footer') %>    
</body>


</html>